.social-links {
    padding: 10px 0;
    background-color: #FFFF00;
    text-align: center;
    font-size: 30px;
}

.social-links > * {
    margin-right: 30px;
}

.social-links > *:last-child {
    margin-right: 0;
}
