.h1-container {
    display: inline-block;
    background-color: #FFFF00;
}

.h1-container > .h1 {
    padding: 0 10px;
    font-family: "Source Code Pro", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #333A4D;
}
