@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

ul {
    padding-left: 20px;
}

.pointingList {
    list-style: none;
    padding-left: 0;
}

.pointingList > li:before {
    content: '\1F449';
    margin-right: 5px;
}
